body {
    font-family: 'Papyrus', sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #367180, #62828a);
    color: white;
    padding: 20px;
    width: 300px;
    max-width: 500px;
    margin: 0 auto; 
    border-radius: 10px;
    border-color: darkblue;
    box-sizing: border-box; 
}

.searchDiv {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    width: 100%; 
    box-sizing: border-box;
}

/* Input Field */
input {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
}

/* Button */
button {
    background-size: 70%;
    background-repeat: no-repeat; 
    background-position: center;
    background-image: url('images/search.jpeg');
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    box-sizing: border-box;
    height: 35px;
    width: 35px;
}

button:hover {
    box-shadow: 0 0 15px 5px rgba(123, 206, 248, 0.679); 
}

h2 {
    font-size: 26px;
}

#weather {
    margin-top: 15px;
    background: rgba(65, 96, 113, 0.732);
    padding: 15px;
    border-radius: 10px;
}

#weather img {
    width: 50px;
}

#weather p {
    margin: 5px 0;
    font-size: 18px;
}

input::placeholder {
    color: #ddd;
    font-style: italic;
}
